@font-face{
    font-family: poorrich;
    src: url("./prr.ttf"); /*poor richard font */
}

html{
    font-size: 0.75em;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Button{
    font-family: poorrich;
}