
#root{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;


}

.Gate-panel{
    background-color: #c8c8c8;
    padding: 32px;
    border-radius: 8px;
    margin: 12px;
}



.InputFields.ButtonDivision{
    flex-direction: row;
    gap: 0;
    margin-top: 8px;
}

.InputFields.ButtonDivision button{
    flex-basis: 50%;
}