@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Young+Serif&display=swap');
*, *::before, *::after{
  box-sizing: border-box;
}
h1, h2, h3, h5{
  font-family: Young Serif;
}
p, span, div{
  font-family: Poppins;
}
html,body, #root, .App{
  height: 100vh;
}

body{
  margin: 0;
}

.App{
  background-color: var(--main-background-color);
  color: var(--text-color);
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.Button{
  margin-inline: auto;
  width: 100%;
  font-size: 18px;
  float: left;
  font-family: Poppins;
  border-radius: 12px;
  cursor: pointer;
}

.Button:active{
  transform: scale(.97);
}

.Sidebox-button{
  justify-self: center;
  align-self: center;
}


.Visibility-hidden{
  display: none !important;;
}

.InputFields{
  flex: 1;
  display: flex;
  flex-flow: column;
  width: 100%;

}

.InputFields input{
  width: 100%;
  padding: 5px;
  border: none;
}

.InputFields label, .InputFields input,  .InputFields select,  .InputFields textarea{
  display: block;
}

.InputFields textarea{
  resize: none;
  width: 75%;
}